{% extends 'ums/main.html' %}
{% load static %}

{% block title %}
    <title>Hotels</title>
{% endblock %}

{% block content %}
<section class="container-fluid">
    <section class="row">
        <section class="col-md-8">
            <div class="card card-body">
                <span>
                    <h4>Hotels</h4>
                </span>
            </div>

            <div class="card card-body">
                <table class="table">
                    <tr>
                        <th>Hotel Name</th>
                        <th>Hotel Fare (NPR)</th>
                        <th style="padding-left: 35px;">Actions</th>
                    </tr>

                    {% for hotel in allHotels %}
                    <tr>
                        <td>{{hotel.hotelName}}</td>
                        <td>{{hotel.fare}}</td>
                        <td>
                            <form action="{% url 'update_hotel' hotel.id %}" method="POST" style="display: inline;">
                                {% csrf_token %}
                                <button type="submit" class="btn" title="Update" onclick="return confirm('Update details for \'{{hotel.hotelName}}\' ?')"><i class="far fa-edit fa-lg"></i></button>
                            </form>
                            <form action="{% url 'delete_hotel' hotel.id %}" method="POST" style="display: inline;">
                                {% csrf_token %}
                                <button type="submit" class="btn"><i class="far fa-trash-alt fa-lg"></i></button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </section>

        <section class="col-md-4">
            <div class="card card-body">
                <h4>Add new hotel</h4>
            </div>
            <div class="card card-body">
                <form action="" method="POST">
                    {% csrf_token %}
                    <label for="hotelName">Hotel Name : </label>
                    {{form.hotelName}}
                    <label for="hotelFare">Hotel Fare (NPR) : </label>
                    {{form.fare}}
                    <hr>
                    <input type="submit" value="Add" class="btn btn-primary" style="margin-top: 15px;">
                </form>
            </div>
        </section>
    </section>
</section>
{% endblock %}