{% extends 'ums/main.html' %}
{% load static %}

{% block title %}
    <title>Hotels</title>
{% endblock %}

{% block content %}
<section class="container-fluid">
    <section class="row">
        <section class="col-md-8">
            <div class="card card-body">
                <span>
                    <h4>Hotels</h4>
                </span>
            </div>

            <div class="card card-body">
                <table class="table">
                    <tr>
                        <th>Hotel Name</th>
                        <th>Hotel Fare (NPR)</th>
                        <th style="padding-left: 35px;">Actions</th>
                    </tr>

                    {% for hotel in allHotels %}
                    <tr>
                        <td>{{hotel.hotelName}}</td>
                        <td>{{hotel.fare}}</td>
                        <td>
                            <a href="{% url 'update_hotel' hotel.id %}" class="btn" title="Update"><i class="far fa-edit fa-lg"></i></a>
                            <a href="{% url 'delete_hotel' hotel.id %}" class="btn" title="Delete"><i class="far fa-trash-alt fa-lg"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </section>

        {% include 'tour/add_hotel.html' %}
    </section>
</section>
{% endblock %}