{% extends 'ums/main.html' %}

{% block title %}
    <title>Trek Destinations</title>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md">
            <div class="card card-body">
                <h4>Trek Destinations</h4>
            </div>
            <div class="card card-body">
                <table class="table">
                    <tr>
                        <th>Destination Name</th>
                    </tr>

                    {% for trek in treks %}
                        <tr>
                            <td>{{trek.name}}</td>
                        </tr>
                    {% endfor %}

                </table>
            </div>
        </div>
    </div>
{% endblock %}
