{% extends 'ums/main.html' %}
{% load static %}

{% block title %}
    <title>Update Details</title>
{% endblock %}

{% block content %}
<section class="container-fluid" style="margin-bottom: 5%;">
    <section class="row">
        <section class="col-md-8">
            <div class="card card-body">
                <span>
                    <h4>Update Details</h4>
                </span>
            </div>

            <div class="card card-body">
                <form action="" method="post">
                    {% csrf_token %}
                    {{form.as_p}}
                    <input type="submit" value="Update" class="btn btn-primary" style="margin-top: 15px;">
                    <a href="{% url 'home' %}" class="btn btn-danger" style="margin: 15px 0px 0px 5px;">Cancel</a>
                </form>
            </div>
        </section>
    </section>
</section>
{% endblock %}